body{
    background-color: lightslategray; /* cor de fundo da página */
    color: yellow; /* cor da escrita */
}
header {
 border: solid 2px rgb(255, 255, 0) ;
 font-size: 32px ;
 padding: 10px;
 color: cadetblue;
}
section {
    background-color: darkred; /* Cor escolhida */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
    
}


h1 {
     font-size: 30px;  /* tamanho da fonte */
    text-align: center;  /* centralizado */
    text-transform: uppercase; /* letras maiúculas */
}

p {
    font-size: 16px;
    color: green;
}